/* GENERAL CODE */
*, *::before,*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: green;
}
/* navbar section*/
div a img{
    margin-left: 4rem;
    height: 4rem;
}
.navbar{
    margin-top: 0.2rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.navbar div{
    margin: auto 0;
    display: flex;
    gap: 1.5rem;
    margin-right: 4rem;
}

.navbar div button{
    background-color: transparent;
    font-size: 0.9rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    height: 1.6rem;
    width:5rem;
    box-shadow: 0.8px 0.8px white;
}
.navbar div button:hover{
    background-color: gray;
}

/* intro section */

#intro{
    height: 500px;
    width: 100;
    background-color: red;
    text-align: center;
}

/* description section */

#description{
    height: 500px;
    width: 100;
    background-color: orange;
    text-align: center;
}



/* events section*/

.timebox{
    background-color: blue;

    height: 100px;
    width: 500px;
    margin: auto 8rem;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}


#eventheading{
    text-align: center;
}

.events{
    margin-top: 2rem;

}

.maincontainer{
    position: relative;
    height: 300px;
    width: 700px;
    margin: 2rem;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    font-family: 'zilla slab',sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}


.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #5fcf80;
    color: #fff;
    transform: rotateY(180deg);
    text-align: center;
    font-family: 'zilla slab',sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
/* faq section*/



#faq{
    height: 500px;
    width: 100;
    background-color: coral;
    text-align: center;
}



/* footer section*/


#footer{
    height: 500px;
    width: 100;
    background-color: pink;
    text-align: center;
}
