/* Utility Styles */

/* Path: style\utils.css */
/* Compare this snippet from style\normalize.css: */

@font-face {
    font-family: moondance;
    src: url(../assets/fonts/moondance/Moondance.otf) format("opentype");
}

@font-face {
    font-family: andromeda;
    src: url(../assets/fonts/andromeda-font/Andromeda-eR2n.ttf) format("opentype");
}

@font-face {
    font-family: entanglement;
    src: url(../assets/fonts/entanglement-font/Entanglement-rgpRB.ttf) format("opentype");
}

@font-face {
    font-family: ledlight;
    src: url(../assets/fonts/ledlight/LEDLIGHT.otf) format("opentype");
}

@font-face {
    font-family: omega;
    src: url(../assets/fonts/omega-centauri-font/Omegacentauri-Eaapj.ttf) format("opentype");
}

@font-face {
    font-family: spacemaverick;
    src: url(../assets/fonts/space_mavericks/Space\ Mavericks.otf) format("opentype");
}